/***********************

  Table of Contents

  #Variables
  #Sass Mixins
  #Normalize
  #Grid Setup
  #Basic Styles
  #Helper Classes
  #Typography

**********************/

/**********************
#Variables
**********************/


$sans: 'Springbone Sans', 'BrownPro', 'Brown', Brown Pro, Brown, Futura, Trebuchet MS, Arial, sans-serif;
$serif: 'Springbone Mono', 'Pitch', monospace;
$base-font-family: $sans;
$heading-font-family: $base-font-family;


// Font Sizes
$base-font-size: 13px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 3;
$base-z-index: 0;

// Colors
$springbone-teal: #094C55;
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-background-color: #C0DAD7;
$base-font-color: $springbone-teal;
$action-color: $springbone-teal;

// Border
$base-border-color: $springbone-teal;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba($springbone-teal, 0);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);



/**********************
#Sass Mixins
**********************/

@import 'base/bourbon/bourbon';

/**********************
#Normalize
**********************/

@import 'base/normalize';

/**********************
#Grid Setup
**********************/
@import 'base/csswizardry-grids';

.grid {
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
      padding: 0 $gutter/2;
  }

}

/**********************
#Helper Classes
**********************/

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.sans {
  font-family: $sans;
}

.serif {
  font-family: $serif;
}

/**********************
#Basic Styles
**********************/

// Buttons

#{$all-button-inputs},
button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: darken($action-color, 15%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}


// Forms

fieldset {
  background-color: lighten($base-border-color, 10%);
  border: none;// $base-border;
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

label {
  margin-top: 1em;
  font-weight: 600;
  margin-bottom: $small-spacing / 2;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
  background-color: white;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 3;
  transition: border-color;
  width: 100%;

  &:hover {
    border-color: darken($base-border-color, 10%);
  }

  &:focus {
    border: 1px solid $action-color;
    padding-left: 10px;
    box-shadow: $form-box-shadow-focus;
    outline: none;
    background: white;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

input[type="file"] {
  padding-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}


// Lists

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: bold;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}



// Tables


table {
  @include font-feature-settings("kern", "liga", "tnum");
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15%);
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: left;
}

td {
  border-bottom: $base-border;
  padding: $small-spacing 0;
}

tr,
td,
th {
  vertical-align: middle;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  overflow: auto;
}

/**********************
#Typography
**********************/


body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  background-color: $base-background-color;
  background-image: url('../images/background-illustration.png');
  background-image: url('../images/background-illustration.svg');
  background-position: center center;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1 {

}


h2 {
  font-family: $serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  padding: 30px 0;
}

h3 {
  font-family: $serif;
}

figcaption {
  font-family: $serif !important;
  font-weight: bold !important;
  font-size: 30px !important;
  line-height: 1.2 !important;
  color: $springbone-teal !important;
  text-shadow: none !important;
}

h5 {
  font-family: $sans;
  font-weight: bold;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

address {
  font-family: $sans;
  font-weight: normal;
  line-height: 2;
}


/******************************
*******************************
*******************************

Begin Site Styles

*******************************
*******************************
******************************/



body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 800px;
  min-height: 800px;

  @media screen and (max-height: 800px) {
    max-height: none;
    min-height: 100vh;
  }
}

header, section, footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

header {
  height: 140px;
  align-items: center;
  justify-content: center;

  h1 {
    margin: 0;
  }
}

.brand {
  text-indent: -9999px;
  display: inline-block;
  background-image: url('../images/springbone-logo.png');
  background-image: url('../images/springbone-logo.svg');
  width: 200px;
  height: 150px;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.email-capture, .mc-field-group {

  display: flex;

  padding-top: 30px;
  padding-bottom: 30px;

  input, button, .button {
    height: 44px;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    padding: 0 10px;
    margin: 0;

    @media screen and (max-width: 420px) {
      font-size: 16px;
    }
  }

  input {
    border-radius: $base-border-radius 0px 0px $base-border-radius;
    border: solid 2px $action-color;
    border-right: 0px;
    flex: 1;

    &:hover, &:focus {
      background: white;
      border: solid 2px darken($action-color, 5%);
      border-right: 0px;
      box-shadow: none;
    }
  }

  button, .button {
    width: 5em;;
    border-radius: 0px $base-border-radius $base-border-radius 0px;
    transition: all 0.3s ease;

    &:hover, &:focus, &:active {
      background: darken($action-color, 5%);
      transition: all 0.3s ease;
      border: none;
      outline: none;
      box-shadow: none;
    }

    &:active {
      background: darken($action-color, 15%);
      transition: all 0.3s ease;
    }
  }
}

section {
  flex: 1;
  align-items: center;
  justify-content: center;
  p {
    @media screen and ( max-width: 374px ) {
      font-size: 14px;
      line-height: 21px;
    }
  }
}

p.lead {
  font-family: $sans;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.2;

  transition: font-size .5s ease;

  @media screen and ( max-width: 800px ) {
    font-size: 40px;
    line-height: 1.2;
  }

  @media screen and ( max-width: 700px ) {
    font-size: 32px;
    line-height: 1.2;
  }

  @media screen and ( max-width: 600px ) {
    font-size: 28px;
    line-height: 1.2;
  }

  @media screen and ( max-width: 500px ) {
    font-size: 24px;
    line-height: 1.2;
  }

  @media screen and ( max-width: 415px ) {
    font-size: 20px;
    line-height: 1.2;
  }

  @media screen and ( max-width: 374px ) {
    font-size: 16px;
    line-height: 1.2;
  }
}

p {
  font-size: 16px;
  line-height: 24px;
}

footer {
  height: 140px;
  align-items: center;
  justify-content: center;

  address, p {
    font-family: $serif;
    font-size: 14px;
    margin-top: 0.25em;
    margin-bottom: 0.25em;

    @media screen and ( max-width: 374px ) {
      font-size: 12px;
      line-height: 18px;
    }
  }

  p {
    line-height: 24px;
  }

  a {
    border-radius: $base-border-radius;
    line-height: 1px;
    transition: all 0.3s ease;

    @media screen and (min-width: 441px) {
      padding: 5px 10px;

      &:hover {
        background: darken($base-background-color, 5%);
        background: rgba(9, 76, 85, 0.15);
        transition: all 0.3s ease;
      }
    }

   
  }
}